<html>
<head>
	<title></title>
	<link rel="stylesheet"
	href="/static/libs/bootstrap/dist/css/bootstrap.css" />
	<script scr= "/static/libs/jquery/dist/jquery.js"></script>
	<script scr= "/static/libs/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
{{{body}}}

</body>
</html>